html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: Capriola, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  *,
  :after,
  :before {
    box-sizing: inherit;
  }
  
  body {
    background-image: url(../images/CryptoFranco_Studio.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    letter-spacing: 0.1em;
    color: rgb(255, 239, 109);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  h2 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    color: rgb(255, 239, 109);
  }

  h3 {
    margin: 0px;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 239, 109);
    font-size: 20px;
    line-height: 1.5;

  }

  div,img {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
  }

  .MainContainer {
    margin: 0px auto;
    height: 100%;
    width: 100%;
    max-width: 680px;
    padding-bottom: 80px;
  }

  .Header, .Links {
    padding-bottom: 16px;
  }

  .Separator {
    padding-bottom: 16px;
    padding-top: 28px;
  }

  .logo {
    width: 100px;
  }

  .social{
    width: 100%; /* Full-width */
    height: 100px;
    overflow: auto; /* Overflow due to float */
    padding: 0,16px,0,16px;
  }

  .social__item{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .social__logo{
    width: 75px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .link__container {
    position: relative;
  }

  .link__item {
    z-index: 0;
    overflow: hidden;
    margin-bottom: 16px;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    border: 2px solid rgb(255, 239, 109);
    background-color: rgb(255, 239, 109);
    color: rgb(0, 0, 0);
    text-shadow: none;
    border-radius: 30px;
    position: relative;
    height: auto;
  }
  
  .link__item:hover {
    background-color: transparent;
    color: rgb(255, 239, 109);
    border-color: rgb(255, 239, 109);
  }

  .link__url {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    white-space: normal;
    color: inherit;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    margin: 0px;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-align: center;
    cursor: pointer;
    background: none;
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto;
    position: relative;
    padding: 16px 66px;
    width: 100%;
    appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
  }   

  .link__thumbnail {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    overflow: hidden;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    left: 4px;
    width: 46px;
    height: 46px;
  }

  .link__logo {
    border-radius: 50%;
    display: block;
    width: 46px;
    height: 46px;
    object-fit: contain;
    object-position: initial;
  }
  
  .link__text {
    position: relative;
    hyphens: none;
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
    width: 100%;
  }